@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');

*{
    font-family: "Chivo";
}
:root {
    --main-color: #34495E;
    --text-color: #F4F4F2;
    --text-color-light: #E8E8E8;
    --bg-color: #5DA0A2;
    --abu: rgb(57, 62, 70);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: url('https://wallpapers.com/images/featured/movie-9pvmdtvz4cb0xl37.jpg') no-repeat center / cover; */
    /* background-blend-mode: darken; */
    /* background-color: var(--bg-color); */
    background: linear-gradient(140deg, rgba(240,252,252,1) 0%, rgba(173,246,246,1) 100%) no-repeat center center fixed;
    font-family: 'Chivo';
}

.main {
    z-index: 3;
    width: 350px;
    height: 500px;
    overflow: hidden;
    /* background: url('https://media.istockphoto.com/id/1286354786/vector/dark-prism-textured-abstract-background.jpg?s=612x612&w=0&k=20&c=lJiYScAyV7Iqn5FKdxMYCuntLO0ljQkR_oEftweNjmE=') no-repeat center / cover; */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 100px 7px rgba(0, 0, 0, 1);
    margin-left: 10px;
    margin-right: 10px;
}

#check {
    display: none;
}

.signup {
    position: relative;
    width: 100%;
    height: 100%;
}

.signup label {
    margin-top: 30px !important;
    margin-bottom: 20px !important;
}

label {
    color: var(--main-color);
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}

input {
    width: 60%;
    height: 40px;
    background: var(--text-color);
    justify-content: center;
    display: flex;
    margin: 15px auto;
    margin-top: 0px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.main .signup button {
    width: 60%;
    height: 40px;
    margin: 10px auto;
    margin-top: 20px;
    justify-content: center;
    display: block;
    color: var(--text-color-light);
    background: var(--main-color);
    font-size: 1em;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}

.button-login{
    background-color: #4a6987;
    width: 60%;
    height: 40px;
    margin: 10px auto;
    margin-top: 20px;
    justify-content: center;
    display: block;
    color: var(--text-color-light);
    font-size: 1em;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}

.main .signup button:hover, button:hover {
    background: var(--bg-color);
}

.login {
    height: 460px;
    background: var(--main-color);
    /* background: var(--main-color); */
    border-radius: 60% / 10%;
    transform: translateY(-180px);
    transition: .8s ease-in-out;
}

.login label {
    padding-top: 15px;
    color: var(--text-color);
    transform: scale(.6);
}

#check:checked~.login {
    transform: translateY(-500px);
}

#check:checked~.login label {
    transform: scale(1);
}

#check:checked~.signup label {
    transform: scale(.6);
}

.signup span {
    color: var(--main-color);
    margin-left: 70px;
    padding: 0;
}

.login span {
    color: var(--text-color);
    margin-left: 70px;
    padding: 0;
}

.Btn{
    margin: 0;
}

.Btn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
}

.Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
}

/* hover effect button's text */
.Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
}

/* button click effect*/
.Btn:active {
    transform: translate(2px, 2px);
}

.Btn {
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    left: 3vw;
    top: 2vh;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: #585f6b;
}

/* plus sign */
.sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign svg {
    width: 17px;
}

.sign svg path {
    fill: var(--text-color);
}

.text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: var(--text-color);
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
}

.invalid-feedback {
    margin-left: 70px;
    padding: 0;
    margin-top:0;
}

.is-invalid {
    margin-bottom: 1px;
}

.btn-invalid{
    margin-top: 2px;
}

@media screen and (max-width: 913px) {   
    .heading{
        margin-left: 4vw;
    }
}

.bgAnimation{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(20,1fr);
    background: var(--text-color);
    filter: saturate(2);
    overflow: hidden;
}

.colorBox{
    z-index: 2;
    filter: brightness(1.1);
    transition: 2s ease;
    position: relative;
    margin: 2px;
    background: var(--text-color);
}

/* .colorBox:hover{
    background: var(--main-color);
    transition-duration: 0s;
} */

.backgroundAnim{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: var(--main-color);
    filter: blur(40px);
    animation: animBack 6s linear infinite;
}

@keyframes animBack {
    0%{
        top: -60px;
    }
    100%{
        top: 120%;
    }
}